body {
  background: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
  width: 350px;
  background: white;
  padding: 20px;
  margin: 100px auto;
  text-align: center;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #45a049;
}

#qrBox {
  margin-top: 20px;
}

#qrBox img {
  width: 200px;
}
